<turbo-stream target="flash-messages" action="update">
	<template>
		{% set icon_classes = {
			'success': 'bi bi-check-circle',
			'warning': 'bi bi-exclamation-circle',
			'danger': 'bi bi-x-circle',
			'default': 'bi bi-app-indicator'
		} %}

		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert bg-{{ type }} border-{{ type }} alert-dismissible d-flex align-items-center fade show mb-3" role="alert">
					<i class="{{ icon_classes[type] | default('bi bi-app-indicator') }} fs-2 me-2 lh-1"></i> 
					{{ message | trans() }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}
	</template>
</turbo-stream>
