# vendor/anfallnorr/file-manager-system/config/services.yaml
services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        # public: false

    Anfallnorr\FileManagerSystem\Controller\:
        # resource: '../src/Controller/*'
        resource: '../src/Controller'
        tags: ['controller.service_arguments']
        public: true # temporaire pour debug
        # arguments:
        #     $fmService: '@Anfallnorr\FileManagerSystem\Service\FileManagerService'
        #     $translator: '@Symfony\Contracts\Translation\TranslatorInterface'

    Anfallnorr\FileManagerSystem\Service\FileManagerService:
        arguments:
            $kernelDirectory: '%fms.kernel_directory%'
            $defaultDirectory: '%fms.default_directory%'
            $relativeDirectory: '%fms.relative_directory%'
            $mime: '@Symfony\Component\Mime\MimeTypes'
            $filesystem: '@Symfony\Component\Filesystem\Filesystem'
            $slugger: '@Symfony\Component\String\Slugger\AsciiSlugger'
        public: true

    Anfallnorr\FileManagerSystem\Form\UploadFileType:
        arguments:
            $translator: '@translator'

    Symfony\Component\Mime\MimeTypes: ~
    Symfony\Component\Filesystem\Filesystem: ~
    Symfony\Component\String\Slugger\AsciiSlugger: ~
